// fonts
$font-montserrat: 'Montserrat', sans-serif;
$font-inter: 'Inter', sans-serif;

// colors
$beige-color: rgba(220, 193, 171, 1);
$green-color: rgba(27, 91, 49, 1);
$grey-color: rgba(245, 240, 236, 1);